/* Reset default browser styles */
body,
h1,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria, serif; /* Changed font-family to Cambria */
    background-color: #f3f2ef;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9; /* Changed background color to a lighter shade */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px; /* Increased font size for more emphasis */
    color: #0077b5; /* Maintained the original color */
    margin-bottom: 20px;
    font-weight: bold; /* Added bold font weight */
}

p {
    font-size: 18px; /* Increased font size for more readability */
    line-height: 1.8; /* Increased line height for better spacing */
    margin-bottom: 20px;
    color: #444; /* Changed text color to a slightly darker shade */
}

a {
    color: #0077b5; /* Maintained the original link color */
    text-decoration: none;
    font-weight: bold; /* Added bold font weight for links */
}

a:hover {
    text-decoration: underline;
    color: #005f95; /* Changed link color on hover for better visibility */
}
